.landing_section, .landing_section div {
    /* border: 1px solid red; */
}

ul{
    display: inline;
  }
.arrow1{
    /* width: 5%; */
    animation: scrollIndicator 2s linear infinite;
}
.arrow2{
    /* width: 5%; */
    animation: scrollIndicator1 2s linear infinite;
}
.arrow3{
    /* width: 5%; */
    animation: scrollIndicator2 2s linear infinite;
}

@keyframes scrollIndicator {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(4px); /* Adjust the distance for the effect */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scrollIndicator1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
    transform: translateY(4px);
  }
  100% {
    opacity: 0;
  }
}

@keyframes scrollIndicator2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
    transform: translateY(4px);
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 639px)  {
    .full_name_text {
        font-size: 30px;
    }
    .work_title {}
    .personality {
        font-size: 12.5px;
        padding-left: 30px;
    }
    .scroll_down {
      display: none;
    }
    .landing_section {
      padding-left: 5%;
      padding-right: 5%;
      /* padding-top: 10%;
      padding-bottom: 10%; */
    }
    .landing_section_inner {
      gap: 3%;
    }
}

@media (max-width: 460px)  {
  .full_name_text {
      font-size: 30px;
  }
  .work_title {
    font-size: 13px;
  }
  .personality {
      font-size: 10px;
      padding-left: 20px;
  }
  .scroll_down {
    display: none;
  }
  .landing_section {
    padding-left: 4%;
    padding-right: 4%;
    /* padding-top: 10%;
    padding-bottom: 10%; */
  }
  .landing_section_inner {
    gap: 3%;
  }
  .download_cv_button {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .contact_button {
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .landing_section_border_size_control {
    border: 1px solid #45DBE2;
  }
}

@media (max-width: 370px)  {
  .full_name_text {
      font-size: 25px;
  }
  .work_title {
    font-size: 12px;
  }
  .personality {
      font-size: 10px;
      padding-left: 15px;
      padding-top: 10px;
  }
  .scroll_down {
    display: none;
  }
  .landing_section {
    padding-left: 3%;
    padding-right: 3%;
    /* padding-top: 10%;
    padding-bottom: 10%; */
  }
  .landing_section_inner {
    gap: 3%;
  }
  .download_cv_button {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .contact_button {
    padding-left: 16%;
    padding-right: 16%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
}