.landing_section, .landing_section div {
    /* border: 1px solid red; */
}

@media (max-width: 639px)  {
    .full_name_text {
        font-size: 30px;
    }
    .work_title {}
    .personality {
        font-size: 12.5px;
        padding-left: 30px;
    }
}