.EducationAwards, .EducationAwards div {
    /* border: 1px solid red; */
}
/* .eduLogos:last-of-type {
    width: 50%;
} */

.EducationAwards {
    font-family: 'Raleway', sans-serif;
}

.EducationAwards_active {
    color: #FFFF00;
}

@media (max-width:640px) {
    .sticky_sidebar {
        display: none;
    }
}