.about_section, .about_section div {
    /* border: 1px solid red; */
}
.ExperienceContent, .ExperienceContent div {
    /* border: 1px solid red; */
}
.about_section {
    font-family: 'Raleway', sans-serif;
}
.css-4z9bxz-MuiPaper-root {
    box-shadow: none !important;
}
.MuiTab-root {
    color: white !important;
}
.MuiTab-textColorPrimary.Mui-selected {
    color: #45DBE2 !important; /* Replace with your desired color */
}
.MuiTabs-scroller {
    display: flex !important;
    justify-content: center !important;
}

.tabs-container .about_me_tab,
.tabs-container .skills_tab,
.tabs-container .experience_tab {
    font-size: 20px; /* Default font size */
}

/* Media query for screens with a minimum width of 1280px */
@media (max-width: 1280px) {
    .tabs-container .about_me_tab,
    .tabs-container .skills_tab,
    .tabs-container .experience_tab {
        font-size: 18px !important;
    }
}

/* Media query for screens with a minimum width of 1024px */
@media (max-width: 1024px) {
    .tabs-container .about_me_tab,
    .tabs-container .skills_tab,
    .tabs-container .experience_tab {
        font-size: 15px !important;
    }
}

/* Media query for screens with a minimum width of 768px */
@media (max-width: 768px) {
    .tabs-container .about_me_tab,
    .tabs-container .skills_tab,
    .tabs-container .experience_tab {
        font-size: 16px !important;
    }
}

/* Media query for screens with a minimum width of 640px */
@media (max-width: 640px) {
    .tabs-container .about_me_tab,
    .tabs-container .skills_tab,
    .tabs-container .experience_tab {
        font-size: 14px !important;
    }
    .about_section_inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .aboutPortraitImg {
        width: 70%;
    }
    .aboutPortraitImg_container {
        display: flex;
        justify-content: center;
    }
    .about_section {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 30%;
        padding-bottom: 30%;
    }
    .AboutContent {
        text-align: center;
        font-size: 0.78rem;
    }
    .data_analysis_icon{
        width: 50px;
    }
    .machine_learning_icon {
        width: 50px;
    }
    .web_dev_icon {
        width: 50px;
    }
    .middle_skill_section {
        border-right-width: 1px;
        border-left-width: 1px;
    }
}

@media (max-width: 600px) {
    .location_icon {
        display: none;
    }
    .date_company_container {
        gap: 5%;
    }
}
@media (max-width: 430px) {
    .skills_title {
        font-size: 12px;
    }
    /* .skills_title_data_analytics {
        margin-left: 5%;
        margin-right: 5%;
    } */
    .skills_listed {
        font-size: 11px;
    }
    .data_analysis_icon{
        width: 40px;
    }
    .machine_learning_icon {
        width: 40px;
    }
    .web_dev_icon {
        width: 40px;
    }
    .middle_skill_section {
        border-right-width: 0.5px;
        border-left-width: 0.5px;
    }
}